@import url("reset.css");
@import url("page.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap");

[class*="__container"] {
  max-width: 1226px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
/* #region header */
.header {
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid gray;
  position: fixed;
  min-width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  color: #fff;
  column-gap: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.header__burger {
}
.burger {
  display: none;
  flex-direction: column;
  row-gap: 4px;
}
.burger div {
  transition: all 0.3s ease;
}
.burger.active div:nth-child(1) {
  position: relative;
  top: 7px;
  transform: rotate(45deg);
}
.burger.active div:nth-child(2) {
  opacity: 0;
}
.burger.active div:nth-child(3) {
  position: relative;
  top: -5px;
  transform: rotate(-45deg);
}

.burger__item {
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.header__logo {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: -1px;
  text-transform: none;
}
.header__logo span {
  color: #39965f;
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  column-gap: 24px;
}
@media (max-width: 620px) {
  .menu {
    display: none;
  }
  .burger {
    display: flex;
  }
}
.menu.active {
  display: flex;
  position: absolute;
  z-index: 4;
  top: 55px;
  background-color: black;
}
.menu.active .menu__list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.menu__item:nth-child(1) {
  font-family: "Open Sans", sans-serif;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link {
  line-height: 1.625;
}
.menu__link.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #39965f;
}
.header__git {
  transition: transform 0.3s;
}
.header__git:hover {
  transform: scale(1.2);
}
/* .burger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -10px;
} */
/* #endregion */

/* #region home */
main {
  padding-top: 56px;
}
.page {
}
.page__home {
  background-color: black;
}
.home {
}
.home__container {
  display: flex;
  min-height: 100svh;
}
.home__sidebar {
  border-right: 1px solid gray;
}
.sidebar-home {
}
.sidebar-home__actions {
  padding: 8px 0;
  border-bottom: 1px solid gray;
  display: flex;
  column-gap: 14px;
}
.actions {
}
.actions__arrow-left {
}
.actions__arrow-right {
}
.actions__update {
}
.sidebar-home__image {
  margin-top: 14px;
  padding-right: 14px;
  margin-bottom: 8px;
  max-width: 259px;
  max-height: 260px;
  overflow: hidden;
}
.sidebar-home__image img {
  width: 100%;
  height: 100%;
}
.sidebar-home__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}
.sidebar-home__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 14px;
  border-bottom: 1px solid gray;
}
.skills {
}
.skills__item {
  font-size: 12px;
  line-height: 1.16;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: gray;
}
.sidebar-home__contacts {
  padding-top: 14px;
}
.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.contacts__cnt {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.contacts__image {
}
.contacts__text {
}
.contacts__title {
  font-weight: 500;
  margin-bottom: 5px;
}
.contacts__link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.contacts__link:hover {
  text-decoration: underline;
}
.home__main {
}

.main-home {
  background-image: url("../img/body_bg.svg");

  width: 100%;
}
.main-home__cnt {
  display: flex;
  flex-direction: column;
  margin: 227px auto;
  text-align: center;
  row-gap: 16px;
  max-width: 633px;
  justify-content: center;
  align-items: center;
}
.main-home__title {
  font-size: 36px;
  font-weight: 700;
  max-width: 633px;
  line-height: 1.5;
}
.main-home__title span {
  color: #39965f;
}
.main-home__text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}

.main-home__button {
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 44px;
  background-color: #39965f;
  border-radius: 8px;
}
/* #endregion */

/* #region about */
.about {
  background-image: url("../img/body_bg.svg");
}
.about__cnt {
  margin-left: 20px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.about-me {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.about-me__title {
}
.title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}
.title::after {
  content: "";
  display: block;
  width: 112px;
  height: 8px;
  background-color: #39965f;
  border-radius: 10px;
}
.about-me__text {
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.7);
}
.about-me__text p:nth-child(1) {
  margin-bottom: 20px;
}
.about-me__text span {
  color: #39965f;
  cursor: pointer;
}
.about-me__button {
  padding: 8px 0;
  border-radius: 8px;
  background-color: rgb(57, 150, 95);
  display: inline-block;
  max-width: 181px;
  text-align: center;
}
.tools {
}
.tools__title {
  margin-bottom: 24px;
}
.tools__cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}
.tools__wrapper {
  width: 213px;
  height: 124px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  background: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.can-i-do {
}
.can-i-do__title {
  margin-bottom: 24px;
}
.can-i-do__cnt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.can-i-do__card {
  display: flex;
  align-items: flex-start;
  column-gap: 14px;
  width: 444px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  background: rgb(27, 27, 27);
}
.can-i-do__img {
}
.can-i-do__content {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.can-i-do__subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.can-i-do__text {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}
.customers {
  margin-bottom: 10px;
}
.customers__title {
  margin-bottom: 24px;
}
.customers__cnt {
  display: flex;
  gap: 20px;
}
.customers__card {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  background: rgb(27, 27, 27);
}
/* #endregion */
